/*Element*/
li {

}
/*class*/
.hello {

}
/*id*/
#name {
}

/*Star*/

* {
	border: 1px dashed lightgrey;
}

/*Descendant Selector*/

li a {
	color: green;
}

/*Adjacent Selector*/

h4 + ul {
	border: 4px solid blue;
}


/*Attribute Selector*/

a[href="http://www.google.com"] {
	background: red;
}

/*nth of type*/

li:nth-of-type(odd){
	background: purple;
}
