img {
    width: 30%;
    margin: 1.66%;
    float: left;
}

p {
    font-family: Raleway;
    font-weight: 800;
    font-size: 23px;
    text-transform: uppercase;
    margin-left: 1.6%;
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 20px;
    width: 30%;
}