/* A child property will inherit its parent's style */

/* This is overwritten by the styles below */
body {
	color: red;
}

p {
	color: green;
}

ul {
	color: purple;
}

li {
	color: orange;
}

.highlight {
	color: yellow;
}

#special {
	color: pink;
}
