body{
    background-image: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3256&q=80);
    background-size: cover;
    background-position: center;
    font-family: "Lato";
}

#content {
    padding-top: 25%;
    text-align: center;
    text-transform: capitalize;
}

button {
    text-transform: capitalize;
}