body {
    background-color: #f5d9df;
    font-family: "Nunito", sans-serif;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
    text-transform: uppercase;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
}

#landingPageHeaders h1 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 4rem;
}

#landingPageHeaders span {
    color: #ea1c2c;
}

@media (max-width: 1200px){
    #landingPageHeaders h1 {
        font-weight: 100;
        font-size: 3rem;       
    }
}

.gallery-item h2 {
    text-transform: uppercase;
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}

.gallery-item p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2.0;
}

.gallery-row {
    margin-top: 100px;
}