body{
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-weight: bold;
}

td {
	padding: 50px;
}

/* 1st row */
.row-0 td {
	border-bottom: 1px solid black;
}

.row-0 td:nth-child(-n+2) {
	border-right: 1px solid black;
}

/* 2nd row */
.row-1 td:nth-child(-n+2) {
	border-right: 1px solid black;
}

/* 3rd row */
.row-2 td {
	border-top: 1px solid black;
}

.row-2 td:nth-child(-n+2) {
	border-right: 1px solid black;
}
