body {
    padding-top: 70px;
}

.jumbotron {
    color: #2c3e50;
    background-color: #ecf0f1;
}

.navbar-inverse {
    background:  #2c3e50;
}

/* Navbar link color */
.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white; 
}