/* font-family */
p {
	font-family: "Arial";
}

h1 {
	font-family: "Georgia";
}

/* font-size */
body {
	font-size: 10px;
}

h1 {
	font-size: 3.0em; /* Triple font size relative to parent (the body) */
}

span {
	font-size: 2.0em; /* Double font size relative to parent (the paragraph) */
}

/* font-weight */

/* font-height */

/* font-align */

/* font-decoration */

